.item.completed {
    text-decoration: line-through;
}

.item {
    font-size: 1.5rem;
    width: 50%;
    margin: 4% 0;
    padding-left: 2%;
    border-radius: 10px;
}

.item:hover {
    text-decoration: line-through;
}